.rating-card {
    background-color: #0b0b24;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 10px;
}

.rating-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-card-top h1 {
    color: white;
}

.rating-card hr {
    border: none;
    background: #1b1b51;
    height: 2px;
}

/* middle section */

.rating-card-middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.yellow-star {
    font-size: 1.5rem;
    color: gold;
    transition: color 0.2s ease;
}

.normal-star {
    font-size: 1.5rem;
}

.bar-container {
    flex: 1;
    height: 50%;
    overflow: hidden;
    background-color: #1c1c55;
}

.bar-fill {
    height: 100%;
    background: linear-gradient(to right, #8B5CF6, #3B82F6);
    transition: width 0.4s ease;
}

.rating-count {
    color: white;
    font-size: 1.6rem;
}


/* bottom section */

.rating-card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px 10px;
}

.rating-card-bottom h2 {
    color: white;
    font-size: 1.7rem;
}

.rating-card-bottom-stars {
    display: flex;
    gap: 5%;
}