.navbar-container{
    width: 100%;
    height: 60px;
    background-color: #171d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 2px solid rgb(62, 0, 162);
}

#mid-tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5rem;
}

#title{
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
}

.nav-links{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#right-tabs{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
}