.profile-mygames-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}


.profile-mygames-container h1 {
    color: white;
    font-size: 3.5rem;
}


.profile-mygames-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    gap: 20px;
    justify-content: start;
}