.signup-container {
    width: 100%;
    height: 95vh;
    background-image: url("/images/home/background3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    min-width: 450px;
    width: 35%;
    background-color: #221641;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.signup-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 25px 0;
}

.signup-card h1 {
    color: white;
    font-size: 2.5rem;
}

#signup-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.signup-inputbox-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.signup-inputbox {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-inputbox-heading i,
p {
    font-size: 1.5rem;
    color: rgb(200, 200, 200);
}

.signup-inputbox input {
    width: 100%;
    height: 38px;
    font-size: 1.35rem;
    padding: 0px 3%;
    background-color: #1c1437;
    border: 2px solid #433279;
    color: white;
}


.signup-error-text{
    color: rgb(246, 73, 73);
    font-size: 1.6rem;
}

.signup-button{
    width: 90%;
    height: 38px;
    border-radius: 5px;
    font-size: 1.6rem;
    background-color:  #2747DA;
    color: white;
    border: 1px solid #a297c5;
}