.home-top {
    height: 100vh;
    background-image: url("/images/home/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    gap: 10rem;
}

.home-top-left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.home-top-left h1 {
    color: white;
    font-size: 5rem;
}

#webgame-highlight {
    font-weight: bold;
    color: rgb(27, 145, 255);
}

.home-top-left p {
    line-height: 3rem;
    color: white;
    font-size: 2rem;
}

.home-top-left-buttons {
    display: flex;
    gap: 2rem;
}

.home-top-left-buttons button {
    width: 17rem;
    height: 4.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
}

.laptop-wrapper {
    position: relative;
    max-width: 60rem;
}

.laptop-frame {
    width: 100%;
    position: relative;
    z-index: 2;
}

.laptop-screen {
    position: absolute;
    top: 2%;
    left: 10%;
    width: 79%;
    height: 74%;
    object-fit: cover;
    border-radius: 6px;
    z-index: 1;
}

/* middle section */

.home-middle {
    height: 100vh;
    background-image: url("/images/home/background3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 10rem;
}

.home-middle-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-middle-top h1 {
    color: #fdfaff;
    font-size: 3rem;
}

.home-middle-top button {
    background-color: #111630;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 0.8rem;
}

.viewall-button {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.featured-games-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.home-middle-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.home-middle-bottom h1 {
    color: #fdfaff;
    font-size: 3rem;
}

.home-middle-bottom button {
    background-color: #111630;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 0.8rem;
}

/* bottom section */

.home-bottom {
    height: 70vh;
    background-image: url("/images/home/background3.png");
    display: flex;
    justify-content: center;
}

.home-bottom-container {
    width: 1200px;
    height: 300px;
    background-image: url(/images/home/boxbackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10rem;
    border-radius: 30px;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.6),
        0 0 40px rgba(139, 92, 246, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 3rem 5rem;
}


.home-bottom-container h1 {
    color: white;
    font-size: 4rem;
}

.home-bottom-container h2 {
    color: white;
    font-weight: 100;
    font-size: 2rem;
}

.home-bottom-container button {
    width: 25%;
    height: 40px;
    background-color: #2747DA;
    border: none;
    border-radius: 5px;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.6),
        0 0 40px rgba(139, 92, 246, 0.5);
}

.home-bottom-container-buttonlink {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 2.5px;
}

.home-footer-container {
    background-image: url("/images/home/background3.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}

.home-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 5rem;
}

.home-footer ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    color: rgb(202, 202, 202);
}

.home-footer-links {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

.home-footer p{
    color: rgb(206, 206, 206);
    font-size: 1.2rem;
    letter-spacing: 1px;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right,
            transparent,
            #8B5CF6,
            #3B82F6,
            transparent);
}