.profile-favorites-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}


.profile-favorites-container h1{
    color: white;
    font-size: 3.5rem;
}


.profile-favorites-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    place-items: center;
    gap: 50px;
    padding: 0px 10px;
}